%video{:controls => "controls", :height => "300", :width => "400"}

  %source{:src => "Friends_S01E05_The_One_With_the_East_German_Laundry_Detergent_ru.webm"} 
  %source{:src => "Friends_S01E05_The_One_With_the_East_German_Laundry_Detergent_eng.webm"}

